body {
  background-color: #f7f1ed;
}
a {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
  font-size: 150%;
  margin: 10px;
  padding: 10px;
  text-align: right;
}
h4 {
  background-color: #7e5687;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  border: #63326e 5px solid;
}
.login_div {
  padding: 20px 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: #dec7db;
  text-align: center;
  align-items: center;
  background-color: #fffff2;
}
.login_div > input {
  border: none;
  background-color: #efe3e7;
  padding: 10px;
  border-radius: 5px;
  font-weight: 900;
}
.login_div > button {
  background-color: #bc8fc3;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
}
